#loc
{
	text-align: center;
	font-size: 19px;
}

/*html
{
	height: 100%;
}*/

body
{
	background:url(https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-position: center;
	font-family: lato;
	/*overflow: hidden;*/
}
