body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
* {
  box-sizing: border-box;
  overflow-x: hidden;
}
#map{
  height: 100vh;
  width: 100vw;
}
#panel{
  position: absolute;
  top: 30;
  left: 20px;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #DADCE0;
  box-shadow: 1px 1px 10px gray;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=text]{
  height: 30px;
  color: gray;
  font-size: 14px;
  padding: 0px 5px;
}
input[type=datetime-local]{
  height: 30px;
  color: gray;
  font-size: 14px;
  padding: 0px 5px;
}

#send {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 6px 32px;
  text-decoration: none;
  margin: 0px 5px;
  cursor: pointer;
}